.page-container {
    display: grid;
    grid-template-rows: auto 1fr;   
    grid-template-columns: 1fr 3fr;
    height: 100vh;                  
}

.header {
    grid-column: 1 / 2;             
    background-color: #f5f5f5;      
    border-bottom: 1px solid #ddd;
}

.form-container {
    grid-column: 1 / 2;             
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    height: 100%;                  
    overflow-y: auto;               
    background-color: #fff;         
    border-right: 1px solid #ddd;   
}

.pdf-container {
    grid-column: 2 / 3;             
    grid-row: 1 / 3;                
    height: 100%;                   
    display: flex;
    justify-content: center;
}

.pdf-viewer {
    width: 100%;
    height: 100%;
    border: none;
  }
