.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr;
}

.header {
    grid-column: 1 / 3;
}

.form-container {
    grid-column: 1 / 2;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pdf-container{
    background-color: lightgray ;
    border-radius: .5rem;
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 1.5rem;
}
